<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tashfeen</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
          rel="stylesheet" />
</head>
<body>
    <div class="header">
        <h1 class="Name"><a href="index.html">Tashfeen Protfolio</a></h1>

        <nav class="navbar">
            <a href="index.html">Home</a>
            <a href="Services.html">Services</a>
            <a href="Skills.html">Skills</a>
            <a href="Projects.html">Projects</a>
            <a href="Blogs.html">My Blogs</a>
            <button onclick="window.location.href='Contact.html';">
                Book With Us
            </button>
        </nav>
    </div>

    @RenderBody()

</body>
</html>
