@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="container1">
        <div class="content">
            <p>Hello!</p>
            <div class="name"></div>
            <h1>I'm <span>Tashfeen</span></h1>
            <h1><span>Aziz</span></h1>
            <h3>
                Data Analyst</h1>
                <button>Click Me</button>
                <button>My Website</button>
        </div>
    </div>
    <div class="container2">
        <img src="~/img/WhatsApp_Image_2023-11-14_at_5.10.50_AM-removebg-preview.png"
             alt="" />
    </div>
</div>

<div class="about">




    <div class="aboutcontent">
        <div class="section1">
            <img src="~/img/sidepost.png" alt="">
        </div>
        <div class="section2">
            <h1>About Me</h1>
            <p>I am the student of Unviersity Of Kotli Azad Kahsmir </p>
            <pre class="pre">Name:                Tashfeen Aziz</pre>
            <pre>Date of birth:       18 july 2002 </pre>
            <pre>Address:             Ktoli Azad Kahsmir</pre>
            <pre>Zip code:            11000</pre>
            <pre>Email:                 tashfeenakhonzada786@gmail.com</pre>
            <pre>Phone:               +923446880</pre>
            <div class="projectcontainer">
                <h3><span class="Project">7 </span>   Project Complete</h3>
            </div>
            <button class="downloadbutton">Download Me</button>
        </div>
    </div>
</div>