@page
@model Portfolio.Pages.Admin.UpdateServiceModel
@{
}
<form class="m-5 border p-3 rounded">
    <h1 class="text-center">Update Service</h1>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="FirstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="FirstName">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="LastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="LastName">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="DOB" class="form-label">Date of Birth</label>
                <input type="date" class="form-control" id="DOB">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="Address" class="form-label">Address</label>
                <input type="text" class="form-control" id="Address">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="Zipcode" class="form-label">Zipcode</label>
                <input type="number" class="form-control" id="Zipcode">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="Email" class="form-label">Email</label>
                <input type="email" class="form-control" id="Email">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="Phone" class="form-label">Phone</label>
                <input type="number" class="form-control" id="Phone">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="prono" class="form-label">Number of Projects</label>
                <input type="number" class="form-control" id="prono">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-sucess">Update</button>
</form> 